{% extends "base.html" %}

{% block content %}

  <h2>Edit Post</h2>

    <form method="post">
      <label>
        <div>Subject</div>
        <input type="text" name="subject" value="{{post.subject}}">
      </label>

      <label>
        <div>Content</div>
        <textarea name="content">{{post.render_text() | safe}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit" name="edit" value="submit">
      <input type="submit" name="edit" value="cancel">
    </form>

{% endblock %}